* {
    box-sizing: border-box;
}

header{
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #000; 
    color: #fff;
    padding: 10px 0; 
    text-align: center;
    z-index: 1000; 
    border-bottom: 2px solid rgb(255, 255, 255); 
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(black, black, rgb(45, 45, 45), rgb(46, 46, 46));
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
    /* margin-top: 120px; */
}

h1 {
    color: #ffffff;
    text-align: center;

}

.h11{
    margin-bottom: 50px;
}

h2 {
    width: 100%;
    height: fit-content;
}

.desc {
    padding-left: 50px;
    gap: 0;
    width: 79%;
}

.classmate {
    background-color: #000000da;
    border: 2px solid #ffffff;
    margin: 10px 0;
    padding: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1.5s ease, transform 1.5s ease;
    border-radius: 10px;
    display: flex;
}

.classmate.visible {
    opacity: 1;
    transform: translateX(0);
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    background-color: #131313;
}

.photo {
    width: 15%;
    border-radius: 5px;
    border: 2px solid white;
}

@media screen and (max-width:500px) {
    .classmate {
        display: block;
        text-align: center;
        margin: 5%;
        width: 90%;
    }

    .desc {
        text-align: left;
        width: 100%;
    }

    .photo {
        width: 50%;
    }

    body {
        padding: 0;
        text-align: center;
    }

    footer {
        margin: 5%;
        width: 90%;
        background-color: #131313;
    }
    h1{
        font-size: 20px;
    }
}